body {
  background-color: #0B0B0B;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #212020;
  border-radius: 5px;
}

/* Handle on hover */


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Global styles for the slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}


/* Parallax container */
.parallax {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow */
}

/* Background image styles */
.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed; /* Fixed background for parallax effect */
  background-size: cover; /* Cover entire area */
  background-position: center; /* Center the background image */
  z-index: 0; /* Behind the content */
}

/* Content styles */
.parallax-content {
  position: relative;
  z-index: 1; /* In front of the background */
  color: white; /* Text color */
  padding: 2rem; /* Optional padding */
}

.overlay {
  position: absolute; /* Position overlay absolutely */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0; /* Align to the bottom */
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
  z-index: 1; /* Behind the content */
}




/* .sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: color 0.3s ease, background 0.3s ease, border-left 0.3s ease;
}

a.active, a:hover {
  border-left: 5px solid #980f0f;
  color: #fff;
  background: black;
  transition: color 0.3s ease, background 0.3s ease, border-left 0.3s ease;
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
  transition: transform 0.3s ease;
}

.sidebar a:hover i {
  transform: scale(1.1);
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
} */




